.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

settings.xml
#Cache of project
.gradletasknamecache
.idea
.idea/

#binaties & working diretories
*.class
target/
results/

# settings without password
hibernate.cfg.xml
!template.hibernate.cfg.xml

